/* payment */
.payment-area{
    padding: 80px;
}
.payment-container{
    width: 40%;
    margin: auto;
    border: 2px solid lightgrey;
    padding: 20px;
}
.stripe-logo{
    width: 100px;
    text-align: center;
    display: flex;
    margin: auto;
    padding-bottom: 30px;
}
.form-display{
    display: none;
}
/* checkout from  */
.payment-option{
    margin: 30px;
}
.stripe-payment-button{
    display: flex;
    margin: auto;
    font-family: serif;
    font-size: 20px;
    background: #0E4D74;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
}