.product-details-area{
    margin: 80px 50px;
}
.product-details-content{
    border: 2px solid lightgray;
    padding: 30px 0 30px 30px;
    display: grid;
    grid-template-columns: 30% 40% 25%;
    align-items: center;
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.product-details-img{
    width: 100%;
}
.prooduct-details-info{
    margin: 20px 10px;
    font-family: serif;
    text-transform: capitalize;
}
.prooduct-details-info h3{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #07598b;
}
.prooduct-details-info h5{
    font-size: 25px;
    color: #eb2525;
    font-weight: 600;
}
.prooduct-details-info h5 span{
    color: black;
}
.product-info{
    margin-top: 40px;
    border-bottom: 3px solid lightgrey;
    padding-top: 10px;
}
.product-info h3{
    font-size: 24px;
    font-weight: 500;
    color: black;
    display: flex;
    border-bottom: 2px solid lightgray;
}
.product-info h3 p{
    margin-right: 10px !important;
    color: black;
}
.product-info p{
    font-size: 18px;
    color: #585858;
    margin-bottom: 10px;
}
.client-reviw{
    display: flex;
    align-items: center;
}
.client-reviw h1{
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
}
.client-reviw h1 span{
    font-size: 24px;
}
.product-quantity{
    margin: 20px 0;
}
.product-quantity input{
    width: 100%;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 2px;
}
.product-quantity input:focus{
    outline: none;
    border: 2px solid #474747;
}
.order-butto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-butto button{
    width: 100%;
    margin-top: 20px;
    padding: 8px 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background: #07598b;
    border-radius: 2px;
    transition: 0.5s ease-in-out;
}
.order-butto button:hover{
    background: #f1c532;
    color: black;
}
.order-butto button:first-child{
    margin-right: 10px;
}
.order-butto button:last-child{
    margin-left: 10px;
}
/* details-cart-add */
.prduct-service-details{
    background: #e6e5e5;
    width: 100%;
    height: 110%;
    padding: 30px 20px;
    font-family: serif;
}
.each-service{
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.each-service h5{
    font-size: 18px;
    font-weight: 600;
}
.each-service p{
    font-size: 14px;
}
.each-service p span{
    margin-left: 10px;
}
.sold-info{
    display: flex;
}
.each-info{
    border-right: 1px solid grey;
    padding: 0 3px;
    text-align: center;
}
.each-info h{
    font-size: 20px;
}

/* product policy */
.product-policy-area{
    margin: 50px 0;
    border: 2px solid lightgrey;
    font-family: serif;
}
.product-policy-button{
    background: #e4e3e3;
    box-shadow: 3px 2px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-policy-button button{
    padding: 20px 20px;
    margin:  0 10px;
    border: none;
    background: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
.product-policy-button button:hover{
    background: #f1c532;
}
.each-policy{
    padding: 30px 40px;
}
.each-policy h1{
    font-size: 30px;
}
.each-policy p, li{
    color: #575757;
}
/* product review */
.rating-form small{
    color: red;
}
.each-review-field label, textarea, input{
    display: block;
}
.each-review-field textarea{
    width: 50%;
    padding: 8px 15px;
    font-size: 18px;
}
.review-message textarea:focus{
    outline: none;
    border: 1px solid #525252;
}
.reviewer-info input:focus{
    outline: none;
    border: 1px solid #525252;
}
.reviewer-name{
    width: 25%;
    margin-right: 8px;
}
.reviewer-name input{
    width: 100%;
    padding: 5px;
    font-size: 18px;
}
.reviewer-email{
    width: 24%;
    margin-left: 8px;
}
.reviewer-email input{
    width: 100%;
    padding: 5px;
    font-size: 18px;
}
.reviewer-info{
    margin: 20px 0;
    display: flex;
}
.rating-form button{
    border: none;
    background: #07598b;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* Responsive code */
@media only screen and (max-width: 850px){
    .prduct-service-details{
        display: none;
    }
    .product-details-content{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 1000px) and (min-width: 851px){
    .product-details-content{
        grid-template-columns: 30% 30% 30%;
    }
    .prooduct-details-info h3{
        font-size: 30px;
    }
    .prooduct-details-info h5{
        font-size: 20px;
    }
    .product-info p{
        font-size: 16px;
    }
    .product-info h3{
        font-size: 20px;
    }
}